table {
    border-collapse: collapse; 
    border: 1px solid black;
    width: 50%;
}
tr {
    border: 1px solid black;
    height: 100px;

}
td {
    border: 1px solid black;
    text-align: center;
}